<h1><%= @merchant.name %></h1>

<div>
  <ul class="links">
    <li><%= link_to "Items",  "/merchant/#{@merchant.id}/items" %></li>
    <li><%= link_to "Invoices",  "/merchant/#{@merchant.id}/invoices" %></li>
  </ul>
</div>

<div>
  <div class="top-5-customers">
    <h2>Top 5 Customers</h2>
    <% @top_successful_transactions.each do |customer| %>
      <h4><%= customer %></h4>
    <% end %>
  </div>

  <div class="ready-to-ship">
    <h2>Ready to Ship</h2>
    <% @merchant.items.each do |item| %>
      <% item.ready_to_ship.each do |invoice|%>
        <h4><%= item.name %> Date: <%= invoice.created_at.strftime('%A %B %d, %Y')%> Id: <%= link_to "#{invoice.invoice_id}", "/merchant/#{@merchant.id}/invoices/#{invoice.invoice_id}" %></h4>
      <% end %>
    <% end %>
  </div>
</div>