<h1>Welcome to The Admin Dashboard</h1>

<%= link_to 'Admin Merchants', '/admin/merchants' %>
<%= link_to 'Admin Invoices', '/admin/invoices' %>


<div class="top-5-customers">
  <h3>Top 5 Customers</h3>
  <ul>
  <% @top_5_customers.each do |customer| %>
    <li><%= customer %></li>
  <% end %>
  </ul>
</div>

<div class="incomplete-invoices">
  <h1>Incomplete Invoices</h1>
  <% @items.each do |item|%>
    <% item.ready_to_ship.each do |invoice| %>
      <h4><%= item.name %> Date: <%= invoice.created_at.strftime('%A %B %d, %Y')%> Id: <%= link_to "#{invoice.invoice_id}", "/admin/invoices/#{invoice.invoice_id}" %></h4>
    <% end %>
  <% end %>

<div>