<h1>Merchants</h1>

<%=  link_to 'Create a new Merchant',  '/admin/merchants/new' %>

<div class="top-5-merchants">
  <h2>Top Merchants</h2>
  <% Item.top_merchants.each do |name, revenue|%>
    <h4><%= link_to name, "/admin/merchants/#{Merchant.find_by(name: name).id}" %>-$<%= revenue %></h4>
  <% end %>
</div>

<div class="all-merchants">
  <h3>Enabled Items</h3>
  <% @merchants.each do |merchant| %>
  <ul>
    <% if merchant.status == 'Enable'%>
      <li class="merchant-<%= merchant.id %>"><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %>
      <%= button_to 'Disable', "/admin/merchants?merchant_id=#{merchant.id}", method: :patch %></li>
    <% end %>
  </ul>
  <% end %>


  <h3>Disabled Items</h3>
   <% @merchants.each do |merchant| %>
  <ul>

    <% if merchant.status == 'Disable' %>
       <li class="merchant-<%= merchant.id %>"><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %>
      <%= button_to 'Enable', "/admin/merchants?merchant_id=#{merchant.id}", method: :patch %></li>
    <% end %>
  </ul>
  <% end %>
</div>