<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= @repo_name %></h1>
    <h3>Authors: <%= @collaborators %></h3>
    <h3 class="commit-count">Commits:
    <% @commits.each do |commit|%>
       <%= commit[0] %> - <%= commit[1] %>
    <% end %>
    </h3>

    <% flash.each do |type, message| %>
      <p class="error_message"><b><%= message %></b>*</p>
    <% end %>
    <%= yield %>
  </body>
</html>
